In [25]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.feature import StringIndexer, IndexToString, VectorAssembler
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.sql.types import IntegerType, FloatType, DateType
from pyspark.sql.functions import udf
from pyspark.sql import functions as F
import datetime, time, calendar

In [26]:
sc = SparkContext.getOrCreate()
print(sc)

<pyspark.context.SparkContext object at 0x000002173CBC2C50>

In [27]:
# join 
# ip <-> ar <-> mb
#           <-> dept

# ip <-> ar : "ip_id"
# ip <-> cc_cst : "x"
# cc_cst <-> cc_visa : "x"
# ar <-> mb : "src_ar_id"
# ar <-> dept : "ar_id"

# DerivedFeature
# [PerWeek & PerMonth]
# noTransferInUnique, noTransferOutUnique, noTransferIn, noTransferOut, ratioTransferIn, ratioTransferOut
# avgTransferInAmount, avgTransferOutAmount, avgTransferAmount
# noFeeAmountGroupBy(0,10,25,35)
# noTransferInPeriod(morning,afternoon,evening,night :: 6hr)
# noTransferOutPeriod(morning,afternoon,evening,night :: 6hr)
# noTransferInPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# noTransferOutPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# avgTransferInHoliday, avgTransferOutHoliday


# Deposit
# [PerWeek & PerMonth]
# noBranchVisit,noBranchVisitUnique,ratioBranchVisit
# avgTransferInAmount, avgTransferOutAmount, avgTransferAmount
# noDepositAmount, noWithdrawAmount
# avgDepositAmount, avgWithdrawAmount
# noWithdrawPeriod(morning,afternoon,evening,night :: 6hr)
# noDepositPeriod(morning,afternoon,evening,night :: 6hr)
# noDepositPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# noWithdrawPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# noTransferInUnique, noTransferOutUnique, noTransferIn, noTransferOut, ratioTransferIn, ratioTransferOut
# noTransferInPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# noTransferOutPerDay(Mon-Thu, Fri, Sat-Sun [avg]) <-- PerMonth
# ??Balance??
# ??CBS Sub Operation Code??
# ahrzd_usr_id <-- [KMP, EDC, ATM]

# Credit


# Approach
# 1 Detech ลูกน้องโดยดูจำนวนเงินที่รับมากที่สุดแล้วเช็ค

# Visualize
# Location

# feature = ["vc_ip.ip_id"]
# category = ["vc_ip.ip_tp_cd","vc_ip.mar_st_cd","vc_ip.ctf_tp_cd","vc_ip.ocp_cd","vc_ip.idv_incm_seg_cd"]
# filteredFeature = ["vc_ip.prvn_f","vc_ip.ip_st_cd","vc_ip.death_f"]

In [28]:
spark = (SparkSession
         .builder
         .appName("MerchantInsight")
         .config("spark.sql.warehouse.dir", "/opt/jupyter_workspace/spark-warehouse")
         .getOrCreate())
print (spark)

<pyspark.sql.session.SparkSession object at 0x000002173E42CAC8>

In [107]:
mb_trans_data =(spark
      .read
      .option("header", "true")
      .option("inferSchema","true")
      .csv('mock_data/mock-transaction.csv'))

In [30]:
mb_trans_data.show()

+--------+--------+--------+------+------+------+-------+--------+-------+
|fm_ar_id|to_ar_id|ptn_yyyy|ptn_mm|ptn_dd|ptn_hr|ptn_min| tfr_amt|fee_amt|
+--------+--------+--------+------+------+------+-------+--------+-------+
|     128|     140|    2016|     6|    19|    11|     22|  6201.0|      0|
|     114|     150|    2016|     8|     4|    13|     37| 24021.0|      0|
|     131|     120|    2016|     7|     6|    13|     31| 2361.28|      0|
|     144|     104|    2016|     9|    10|    11|     32| 24410.0|     10|
|     133|     130|    2016|    12|    15|    13|     25| 18157.0|      0|
|     109|     140|    2016|     6|    19|    22|     33| 11466.0|     25|
|     116|     146|    2016|     7|    23|    15|     57| 15670.0|      0|
|     110|     128|    2016|    10|    29|    20|     55| 15124.0|      0|
|     101|     123|    2016|     7|    10|    22|     52| 21758.0|     10|
|     128|     137|    2016|     8|    30|    20|     38| 23290.0|      0|
|     108|     114|    2016|    12|    19|    20|     49|  8928.5|      0|
|     103|     142|    2016|    12|    31|    18|      5| 23526.0|     25|
|     135|     123|    2016|     8|     3|    14|     52|  4836.0|     10|
|     118|     141|    2016|     7|    27|    15|     19| 17778.0|      0|
|     138|     145|    2016|     6|    22|    14|     56| 6190.28|     10|
|     126|     123|    2016|    11|    25|    21|     39|  2195.0|      0|
|     110|     107|    2016|     9|    26|    11|      6|   884.0|      0|
|     118|     106|    2016|     6|    29|    11|     25|19536.28|     25|
|     134|     101|    2016|     8|    18|     8|     28| 22083.0|      0|
|     129|     132|    2016|    10|    12|    14|     28|  9070.0|      0|
+--------+--------+--------+------+------+------+-------+--------+-------+
only showing top 20 rows

In [104]:
#Pre-processing data

def no_days_in_month(month, year):
    if month in day_months_31: 
        return 31
    elif month in day_months_30:
        return 30
    else:
        if calendar.isleap(year):
            return 29
        else:
            return 28
        
def day_of_week_code(day_of_week):
    if day_of_week < 4:
        return 0
    elif day_of_week > 4:
        return 2
    else:
        return 1
    
def quarter_code(date, month):
    month_31_days = [1,3,5,7,8,10,12]
    month_30_days = [4,6,9,11]
    if(month in month_31_days):
        if(date in range(1,9)):
            return 1
        elif(date in range(9,16)):
            return 2
        elif(date in range(16,24)):
            return 3
        else:
            return 4
    elif(month in month_30_days):
        if(date in range(1,9)):
            return 1
        elif(date in range(9,16)):
            return 2
        elif(date in range(16,23)):
            return 3
        else:
            return 4
    else: # February
        return date / 4 

def period_code_mb(hour):
    if hour in range(0, 6):
        return 0
    elif hour in range(6, 12):
        return 1
    elif hour in range(12, 18):
        return 2
    else:
        return 3

quarter_code_udf = udf(quarter_code,IntegerType())
date = udf(lambda y, m, d : datetime.datetime(y, m ,d), DateType())
day_of_week = udf(lambda date : int(date.weekday()), IntegerType())
day_of_week_code_udf = udf(day_of_week_code, IntegerType())
period_code_mb_udf = udf(period_code_mb, IntegerType())

In [106]:
print(quarter_code(19,12))
print(period_code_mb(5))

3
0

In [33]:
type(mb_trans_data.select("ptn_dd").collect()[0].ptn_dd)

int

In [112]:
mb_trans_data = mb_trans_data.withColumn("quarter_code",quarter_code_udf(mb_trans_data['ptn_dd'],mb_trans_data['ptn_mm']))
mb_trans_data = mb_trans_data.withColumn("date", date(mb_trans_data["ptn_yyyy"], mb_trans_data["ptn_mm"], mb_trans_data["ptn_dd"]))
mb_trans_data = mb_trans_data.withColumn("day_of_week", day_of_week(mb_trans_data["date"]))
mb_trans_data = mb_trans_data.withColumn("day_of_week_code", day_of_week_code_udf(mb_trans_data["day_of_week"]))
mb_trans_data = mb_trans_data.withColumn("period_code",period_code_mb_udf(mb_trans_data['ptn_hr']))
mb_trans_data.toPandas()

,fm_ar_id,to_ar_id,ptn_yyyy,ptn_mm,ptn_dd,ptn_hr,ptn_min,tfr_amt,fee_amt,quarter_code,date,day_of_week,day_of_week_code,period_code
0,128,140,2016,6,19,11,22,6201.00,0,3,2016-06-19,6,2,1
1,114,150,2016,8,4,13,37,24021.00,0,1,2016-08-04,3,0,2
2,131,120,2016,7,6,13,31,2361.28,0,1,2016-07-06,2,0,2
3,144,104,2016,9,10,11,32,24410.00,10,2,2016-09-10,5,2,1
4,133,130,2016,12,15,13,25,18157.00,0,2,2016-12-15,3,0,2
5,109,140,2016,6,19,22,33,11466.00,25,3,2016-06-19,6,2,3
6,116,146,2016,7,23,15,57,15670.00,0,3,2016-07-23,5,2,2
7,110,128,2016,10,29,20,55,15124.00,0,4,2016-10-29,5,2,3
8,101,123,2016,7,10,22,52,21758.00,10,2,2016-07-10,6,2,3
9,128,137,2016,8,30,20,38,23290.00,0,4,2016-08-30,1,0,3
10,108,114,2016,12,19,20,49,8928.50,0,3,2016-12-19,0,0,3
11,103,142,2016,12,31,18,5,23526.00,25,4,2016-12-31,5,2,3
12,135,123,2016,8,3,14,52,4836.00,10,1,2016-08-03,2,0,2
13,118,141,2016,7,27,15,19,17778.00,0,4,2016-07-27,2,0,2
14,138,145,2016,6,22,14,56,6190.28,10,3,2016-06-22,2,0,2
15,126,123,2016,11,25,21,39,2195.00,0,4,2016-11-25,4,1,3
16,110,107,2016,9,26,11,6,884.00,0,4,2016-09-26,0,0,1
17,118,106,2016,6,29,11,25,19536.28,25,4,2016-06-29,2,0,1
18,134,101,2016,8,18,8,28,22083.00,0,3,2016-08-18,3,0,1
19,129,132,2016,10,12,14,28,9070.00,0,2,2016-10-12,2,0,2
20,110,150,2016,10,26,21,19,9624.00,10,4,2016-10-26,2,0,3
21,128,131,2016,8,5,12,55,16119.00,10,1,2016-08-05,4,1,2
22,147,107,2016,11,26,10,44,22570.00,0,4,2016-11-26,5,2,1
23,129,104,2016,9,30,23,47,17826.00,10,4,2016-09-30,4,1,3
24,132,142,2016,7,1,16,36,12466.00,10,1,2016-07-01,4,1,2
25,119,113,2016,9,17,8,12,8622.00,10,3,2016-09-17,5,2,1
26,140,131,2016,10,1,5,32,2934.28,10,1,2016-10-01,5,2,0
27,119,127,2016,9,24,12,42,2012.00,0,4,2016-09-24,5,2,2
28,113,112,2016,8,9,19,11,5562.00,0,2,2016-08-09,1,0,3
29,125,101,2016,11,26,6,37,2313.00,10,4,2016-11-26,5,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,108,110,2016,10,6,10,58,9928.00,0,1,2016-10-06,3,0,1
270,112,102,2016,9,8,13,54,23720.00,0,1,2016-09-08,3,0,2
271,120,126,2016,7,19,6,50,23802.00,0,3,2016-07-19,1,0,1
272,129,147,2016,8,23,9,29,24747.00,0,3,2016-08-23,1,0,1
273,123,139,2016,8,1,23,54,1344.00,0,1,2016-08-01,0,0,3
274,121,103,2016,11,1,17,28,11157.00,0,1,2016-11-01,1,0,2
275,108,147,2016,9,18,13,19,24516.00,10,3,2016-09-18,6,2,2
276,117,114,2016,10,7,20,35,8551.00,0,1,2016-10-07,4,1,3
277,123,120,2016,7,15,14,31,23485.00,0,2,2016-07-15,4,1,2
278,138,133,2016,9,5,9,58,12187.00,0,1,2016-09-05,0,0,1
279,131,137,2016,11,12,14,23,15453.00,10,2,2016-11-12,5,2,2
280,134,123,2016,9,12,7,46,14951.00,0,2,2016-09-12,0,0,1
281,102,110,2016,10,24,19,48,16277.00,0,4,2016-10-24,0,0,3
282,142,113,2016,6,11,9,22,3514.00,0,2,2016-06-11,5,2,1
283,101,149,2016,6,15,17,12,23518.00,10,2,2016-06-15,2,0,2
284,150,102,2016,9,13,12,44,13636.00,0,2,2016-09-13,1,0,2
285,120,114,2016,12,26,23,41,24279.00,10,4,2016-12-26,0,0,3
286,134,115,2016,8,28,17,39,2287.00,0,4,2016-08-28,6,2,2
287,146,113,2016,7,29,11,23,9286.00,0,4,2016-07-29,4,1,1
288,106,114,2016,9,30,13,24,1982.00,10,4,2016-09-30,4,1,2
289,135,105,2016,6,30,19,21,9063.00,0,4,2016-06-30,3,0,3
290,133,112,2016,10,6,23,56,15473.00,0,1,2016-10-06,3,0,3
291,133,126,2016,11,8,16,57,23762.00,0,1,2016-11-08,1,0,2
292,128,129,2016,6,14,15,27,21410.00,0,2,2016-06-14,1,0,2
293,114,148,2016,6,28,20,23,5484.00,0,4,2016-06-28,1,0,3
294,108,123,2016,7,13,13,44,10631.00,10,2,2016-07-13,2,0,2
295,119,104,2016,9,11,16,37,10630.00,0,2,2016-09-11,6,2,2
296,129,103,2016,8,9,9,44,18651.00,10,2,2016-08-09,1,0,1
297,135,123,2016,12,17,5,35,7864.00,0,3,2016-12-17,5,2,0
298,135,125,2016,6,2,23,2,18445.00,0,1,2016-06-02,3,0,3

In [35]:
quarter_code(16,5)

3

In [36]:
# mb_trans_data.select('fm_ar_id').groupby('fm_ar_id').count().show()
mb_trans_data.select('fm_ar_id',mb_trans_data['quarter_code']).groupby(['fm_ar_id','quarter_code']).count().sort(['fm_ar_id','quarter_code']).show()
# mb_trans_data.groupby(mb_trans_data['quarter_code']).count().show()
# F.count(mb_trans_data['quarter_code']==1).alias("noMbTransferOutDuringQ1")

+--------+------------+-----+
|fm_ar_id|quarter_code|count|
+--------+------------+-----+
|     101|           1|    1|
|     101|           2|    3|
|     101|           4|    2|
|     102|           1|    1|
|     102|           2|    3|
|     102|           3|    1|
|     102|           4|    4|
|     103|           2|    1|
|     103|           4|    2|
|     104|           2|    1|
|     104|           3|    2|
|     105|           1|    1|
|     105|           4|    3|
|     106|           1|    1|
|     106|           4|    2|
|     107|           1|    1|
|     107|           4|    5|
|     108|           1|    4|
|     108|           2|    2|
|     108|           3|    3|
+--------+------------+-----+
only showing top 20 rows

In [37]:
# mb_trans_data.select('fm_ar_id','quarter_code').groupby(['fm_ar_id','quarter_code']).agg(F.count(mb_trans_data['quarter_code']==1).alias("noMbTransferOutDuringQ1")).sort('fm_ar_id').show()
mb_trans_data.select('fm_ar_id','to_ar_id','quarter_code').distinct()
mb_trans_data.stat.crosstab("fm_ar_id","quarter_code").sort('fm_ar_id_quarter_code')\
.toDF('ar_id','noMbTransferOutQ1','noMbTransferOutQ2','noMbTransferOutQ3','noMbTransferOutQ4').show()

+-----+-----------------+-----------------+-----------------+-----------------+
|ar_id|noMbTransferOutQ1|noMbTransferOutQ2|noMbTransferOutQ3|noMbTransferOutQ4|
+-----+-----------------+-----------------+-----------------+-----------------+
|  101|                1|                3|                0|                2|
|  102|                1|                3|                1|                4|
|  103|                0|                1|                0|                2|
|  104|                0|                1|                2|                0|
|  105|                1|                0|                0|                3|
|  106|                1|                0|                0|                2|
|  107|                1|                0|                0|                5|
|  108|                4|                2|                3|                1|
|  109|                0|                1|                1|                3|
|  110|                1|                0|                1|                3|
|  112|                3|                1|                0|                2|
|  113|                1|                2|                1|                0|
|  114|                1|                1|                0|                1|
|  115|                0|                1|                0|                2|
|  116|                1|                0|                3|                2|
|  117|                4|                0|                1|                1|
|  118|                1|                1|                0|                5|
|  119|                0|                1|                3|                4|
|  120|                1|                0|                2|                3|
|  121|                1|                0|                1|                3|
+-----+-----------------+-----------------+-----------------+-----------------+
only showing top 20 rows

## Features Extraction

In [38]:
#Feature Extraction
def getMbFrequency(columnName,newColumnName):
    freqIn = mb_trans_data.select(columnName).groupby(columnName).count()
    if((columnName == "fm_ar_id") | (columnName == "to_ar_id")):
        freqIn = freqIn.withColumnRenamed(columnName,"ar_id")
    freqIn = freqIn.withColumnRenamed("count",newColumnName)
    return freqIn

In [89]:
#Feature Extraction V2
def getMbFrequencyPerQuarter(columnName,newColumnName):
    freqIn = mb_trans_data.stat.crosstab(columnName,"quarter_code")\
    .toDF(columnName,newColumnName+'Q1',newColumnName+'Q2',newColumnName+'Q3',newColumnName+'Q4')
    if((columnName == "fm_ar_id") | (columnName == "to_ar_id")):
        freqIn = freqIn.withColumnRenamed(columnName,"ar_id")
    return freqIn

def getMbFrequencyUniquePerQuarter(columnName,newColumnName):
    mb_trans_data_unique = mb_trans_data.select('fm_ar_id','to_ar_id','quarter_code').distinct()
    freqIn = mb_trans_data_unique.stat.crosstab(columnName,"quarter_code")\
    .toDF(columnName,newColumnName+'Q1',newColumnName+'Q2',newColumnName+'Q3',newColumnName+'Q4')
    if((columnName == "fm_ar_id") | (columnName == "to_ar_id")):
        freqIn = freqIn.withColumnRenamed(columnName,"ar_id")
    return freqIn

#get Ratio below

def getMbFeeFrequencyPerQuarter(columnName,newColumnName):
    noMonth = mb_trans_data.select("ptn_yyyy","ptn_mm").distinct().count()
    mb_fee = mb_trans_data.withColumn("pay_fee",mb_trans_data["fee_amt"] != 0).select("fm_ar_id","fee_amt","pay_fee")
    freqFee = mb_fee.stat.crosstab(columnName,"pay_fee")\
        .toDF(columnName,newColumnName+'Free',newColumnName+'NotFree')
    freqFee = freqFee.withColumn(newColumnName+'FreePerMonth',freqFee[newColumnName+'Free']/noMonth)
    freqFee = freqFee.withColumn(newColumnName+'NotFreePerMonth',freqFee[newColumnName+'NotFree']/noMonth)
    freqFee = freqFee.select(columnName,newColumnName+'FreePerMonth',newColumnName+'NotFreePerMonth')
    if((columnName == "fm_ar_id") | (columnName == "to_ar_id")):
        freqFee = freqFee.withColumnRenamed(columnName,"ar_id")
    return freqFee

def getMbAvgAmountPerQuarter(columnName,valueColumn,newColumnName):
    avgAmount = mb_trans_data.groupby([columnName,"quarter_code"]).agg({valueColumn : "avg"}).sort([columnName,'quarter_code']).withColumnRenamed("avg("+valueColumn+")", newColumnName)
    avgAmount = avgAmount.groupby(columnName).pivot("quarter_code").sum(newColumnName)\
    .toDF(columnName,newColumnName+'Q1',newColumnName+'Q2',newColumnName+'Q3',newColumnName+'Q4')
    if((columnName == "fm_ar_id") | (columnName == "to_ar_id")):
            avgAmount = avgAmount.withColumnRenamed(columnName,"ar_id")
    return avgAmount

def getMbFrequencyPerPeriod(key_col, col_name, agg_func, agg_col):
    if agg_func == "sum":
        return mb_trans_data.groupby(key_col).pivot("period_code").sum(agg_col)\
                .toDF('ar_id', col_name + 'P1', col_name + 'P2', col_name + 'P3', col_name + 'P4')
    else :
        return mb_trans_data.groupby(key_col).pivot("period_code").count()\
                .toDF('ar_id', col_name + 'P1', col_name + 'P2', col_name + 'P3', col_name + 'P4')

In [110]:
getMbFrequencyPerPeriod("fm_ar_id", "noMbTransferOut", "count", "*").show()

+-----+-----------------+-----------------+-----------------+-----------------+
|ar_id|noMbTransferOutP1|noMbTransferOutP2|noMbTransferOutP3|noMbTransferOutP4|
+-----+-----------------+-----------------+-----------------+-----------------+
|  148|             null|                2|                2|                3|
|  137|             null|                1|                1|                2|
|  133|             null|                1|                5|                4|
|  108|             null|                2|                6|                2|
|  101|             null|                2|                1|                3|
|  115|             null|                1|             null|                2|
|  126|             null|                2|                1|                2|
|  103|             null|                1|                1|                1|
|  128|                1|                3|                4|                3|
|  122|             null|             null|                1|                1|
|  140|                1|                1|                1|             null|
|  132|             null|                3|                3|                1|
|  146|             null|                2|                2|                1|
|  142|             null|                3|                2|                2|
|  139|             null|                3|                2|                2|
|  120|             null|                3|                1|                2|
|  117|             null|             null|                3|                3|
|  112|             null|                3|                1|                2|
|  127|                1|                2|                1|             null|
|  107|                1|                2|                2|                1|
+-----+-----------------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [111]:
##Extract Features and join with the ar_id table
df = mb_trans_data.select("fm_ar_id").distinct().withColumnRenamed("fm_ar_id","ar_id")
train_data = df.join(getMbFrequencyPerQuarter("fm_ar_id","noMbTransferOut"),"ar_id","left_outer")
train_data = train_data.join(getMbFrequencyPerQuarter("to_ar_id","noMbTransferIn"),"ar_id","left_outer")
train_data = train_data.join(getMbFrequencyUniquePerQuarter("fm_ar_id","noMbTransferOutUnique"),"ar_id","left_outer")
train_data = train_data.join(getMbFrequencyUniquePerQuarter("to_ar_id","noMbTransferInUnique"),"ar_id","left_outer")
#Calculate Ratio
for i in range(1,5):
    train_data = train_data.withColumn("ratioTransferOutQ"+str(i),train_data["noMbTransferOutUniqueQ"+str(i)]/train_data["noMbTransferOutQ"+str(i)])
    train_data = train_data.withColumn("ratioTransferInQ"+str(i),train_data["noMbTransferInUniqueQ"+str(i)]/train_data["noMbTransferInQ"+str(i)])
train_data = train_data.join(getMbFeeFrequencyPerQuarter("fm_ar_id","noMbFee"),"ar_id","left_outer")
train_data = train_data.join(getMbAvgAmountPerQuarter("fm_ar_id","tfr_amt","avgTransferOutAmount"),"ar_id","left_outer")
train_data = train_data.join(getMbAvgAmountPerQuarter("to_ar_id","tfr_amt","avgTransferInAmount"),"ar_id","left_outer")
train_data = train_data.join(getMbFrequencyPerPeriod("fm_ar_id", "noMbTransferOut", "count", "*"),"ar_id","left_outer")
train_data = train_data.join(getMbFrequencyPerPeriod("to_ar_id", "noMbTransferIn", "count", "*"),"ar_id","left_outer")
train_data.printSchema()

root
 |-- ar_id: integer (nullable = true)
 |-- noMbTransferOutQ1: long (nullable = true)
 |-- noMbTransferOutQ2: long (nullable = true)
 |-- noMbTransferOutQ3: long (nullable = true)
 |-- noMbTransferOutQ4: long (nullable = true)
 |-- noMbTransferInQ1: long (nullable = true)
 |-- noMbTransferInQ2: long (nullable = true)
 |-- noMbTransferInQ3: long (nullable = true)
 |-- noMbTransferInQ4: long (nullable = true)
 |-- noMbTransferOutUniqueQ1: long (nullable = true)
 |-- noMbTransferOutUniqueQ2: long (nullable = true)
 |-- noMbTransferOutUniqueQ3: long (nullable = true)
 |-- noMbTransferOutUniqueQ4: long (nullable = true)
 |-- noMbTransferInUniqueQ1: long (nullable = true)
 |-- noMbTransferInUniqueQ2: long (nullable = true)
 |-- noMbTransferInUniqueQ3: long (nullable = true)
 |-- noMbTransferInUniqueQ4: long (nullable = true)
 |-- ratioTransferOutQ1: double (nullable = true)
 |-- ratioTransferInQ1: double (nullable = true)
 |-- ratioTransferOutQ2: double (nullable = true)
 |-- ratioTransferInQ2: double (nullable = true)
 |-- ratioTransferOutQ3: double (nullable = true)
 |-- ratioTransferInQ3: double (nullable = true)
 |-- ratioTransferOutQ4: double (nullable = true)
 |-- ratioTransferInQ4: double (nullable = true)
 |-- noMbFeeFreePerMonth: double (nullable = true)
 |-- noMbFeeNotFreePerMonth: double (nullable = true)
 |-- avgTransferOutAmountQ1: double (nullable = true)
 |-- avgTransferOutAmountQ2: double (nullable = true)
 |-- avgTransferOutAmountQ3: double (nullable = true)
 |-- avgTransferOutAmountQ4: double (nullable = true)
 |-- avgTransferInAmountQ1: double (nullable = true)
 |-- avgTransferInAmountQ2: double (nullable = true)
 |-- avgTransferInAmountQ3: double (nullable = true)
 |-- avgTransferInAmountQ4: double (nullable = true)
 |-- noMbTransferOutP1: long (nullable = true)
 |-- noMbTransferOutP2: long (nullable = true)
 |-- noMbTransferOutP3: long (nullable = true)
 |-- noMbTransferOutP4: long (nullable = true)
 |-- noMbTransferInP1: long (nullable = true)
 |-- noMbTransferInP2: long (nullable = true)
 |-- noMbTransferInP3: long (nullable = true)
 |-- noMbTransferInP4: long (nullable = true)

In [77]:
train_data.select("ar_id","noMbFeeFreePerMonth","noMbFeeNotFreePerMonth").show()

+-----+-------------------+----------------------+
|ar_id|noMbFeeFreePerMonth|noMbFeeNotFreePerMonth|
+-----+-------------------+----------------------+
|  148| 0.7142857142857143|    0.2857142857142857|
|  137| 0.5714285714285714|                   0.0|
|  133| 0.8571428571428571|    0.5714285714285714|
|  108| 0.8571428571428571|    0.5714285714285714|
|  101| 0.2857142857142857|    0.5714285714285714|
|  126| 0.5714285714285714|   0.14285714285714285|
|  115|0.42857142857142855|                   0.0|
|  103|0.14285714285714285|    0.2857142857142857|
|  128|                1.0|    0.5714285714285714|
|  122|0.14285714285714285|   0.14285714285714285|
|  140| 0.2857142857142857|   0.14285714285714285|
|  132| 0.5714285714285714|   0.42857142857142855|
|  146|0.42857142857142855|    0.2857142857142857|
|  142| 0.5714285714285714|   0.42857142857142855|
|  139| 0.7142857142857143|    0.2857142857142857|
|  120| 0.5714285714285714|    0.2857142857142857|
|  117| 0.7142857142857143|   0.14285714285714285|
|  112| 0.5714285714285714|    0.2857142857142857|
|  127|0.42857142857142855|   0.14285714285714285|
|  107| 0.7142857142857143|   0.14285714285714285|
+-----+-------------------+----------------------+
only showing top 20 rows

In [91]:
train_data.toPandas()

,ar_id,noMbTransferOutQ1,noMbTransferOutQ2,noMbTransferOutQ3,noMbTransferOutQ4,noMbTransferInQ1,noMbTransferInQ2,noMbTransferInQ3,noMbTransferInQ4,noMbTransferOutUniqueQ1,...,ratioTransferOutQ3,ratioTransferInQ3,ratioTransferOutQ4,ratioTransferInQ4,noMbFeeFreePerMonth,noMbFeeNotFreePerMonth,avgTransferOutAmountQ1,avgTransferOutAmountQ2,avgTransferOutAmountQ3,avgTransferOutAmountQ4
0,148,1,2,1,3,0,0,1,2,1,...,1.0,1.0,0.666667,1.00,0.714286,0.285714,10843.000000,12746.000000,22900.000000,15518.000000
1,137,3,0,0,1,1,1,3,2,3,...,NaN,1.0,1.000000,1.00,0.571429,0.000000,8304.000000,NaN,NaN,4448.000000
2,133,4,4,0,2,2,2,1,1,4,...,NaN,1.0,1.000000,1.00,0.857143,0.571429,19130.750000,18040.500000,NaN,8023.000000
3,108,4,2,3,1,1,1,1,3,4,...,1.0,1.0,1.000000,1.00,0.857143,0.571429,9931.000000,16328.500000,19137.500000,1936.000000
4,101,1,3,0,2,0,1,2,1,1,...,NaN,1.0,1.000000,1.00,0.285714,0.571429,10779.000000,18463.000000,NaN,10675.500000
5,126,1,2,1,1,1,3,1,2,1,...,1.0,1.0,1.000000,1.00,0.571429,0.142857,15664.000000,6120.000000,21012.000000,2195.000000
6,115,0,1,0,2,1,0,1,3,0,...,NaN,1.0,1.000000,1.00,0.428571,0.000000,NaN,24713.000000,NaN,4174.000000
7,103,0,1,0,2,3,1,1,1,0,...,NaN,1.0,1.000000,1.00,0.142857,0.285714,NaN,17396.000000,NaN,12928.500000
8,128,2,2,2,5,0,1,1,3,2,...,1.0,1.0,1.000000,1.00,1.000000,0.571429,19565.500000,17266.500000,7421.500000,13595.200000
9,122,2,0,0,0,2,2,2,3,2,...,NaN,1.0,NaN,1.00,0.142857,0.142857,5190.000000,NaN,NaN,NaN
10,140,1,1,1,0,0,3,2,1,1,...,1.0,1.0,NaN,1.00,0.285714,0.142857,2934.280000,18811.000000,20017.000000,NaN
11,132,3,2,1,1,1,2,2,0,3,...,1.0,1.0,1.000000,NaN,0.571429,0.428571,10077.000000,13324.000000,20665.000000,12888.000000
12,146,0,2,2,1,0,1,2,3,0,...,1.0,1.0,1.000000,1.00,0.428571,0.285714,NaN,12140.000000,20442.500000,9286.000000
13,142,1,3,1,2,2,1,0,1,1,...,1.0,NaN,1.000000,1.00,0.571429,0.428571,11404.000000,10834.333333,13450.000000,13950.000000
14,139,0,5,1,1,2,2,0,0,0,...,1.0,NaN,1.000000,NaN,0.714286,0.285714,NaN,15960.400000,12386.000000,9718.000000
15,120,1,0,2,3,1,3,1,0,1,...,1.0,1.0,1.000000,NaN,0.571429,0.285714,23638.000000,NaN,18962.000000,15690.000000
16,117,4,0,1,1,1,2,2,1,4,...,1.0,1.0,1.000000,1.00,0.714286,0.142857,10578.000000,NaN,18602.000000,19215.000000
17,112,3,1,0,2,2,3,1,2,3,...,NaN,1.0,1.000000,1.00,0.571429,0.285714,13089.666667,12649.000000,NaN,6765.000000
18,127,2,1,1,0,0,3,0,2,2,...,1.0,NaN,NaN,1.00,0.428571,0.142857,12511.000000,6640.000000,8014.000000,NaN
19,107,1,0,0,5,4,4,1,2,1,...,NaN,1.0,1.000000,1.00,0.714286,0.142857,15521.000000,NaN,NaN,7516.600000
20,114,1,1,0,1,2,0,1,3,1,...,NaN,1.0,1.000000,1.00,0.285714,0.142857,24021.000000,8653.000000,NaN,5484.000000
21,130,0,2,1,1,2,3,0,3,0,...,1.0,NaN,1.000000,1.00,0.428571,0.142857,NaN,4255.000000,1092.000000,2059.000000
22,136,4,2,0,0,0,1,3,1,4,...,NaN,1.0,NaN,1.00,0.285714,0.571429,4666.750000,18041.500000,NaN,NaN
23,129,3,3,3,2,1,2,1,4,3,...,1.0,1.0,1.000000,1.00,1.000000,0.571429,11800.000000,13884.333333,18198.333333,11075.500000
24,102,1,3,1,4,2,1,0,2,1,...,1.0,NaN,1.000000,1.00,1.000000,0.285714,4610.000000,14075.000000,15650.000000,13307.500000
25,113,1,2,1,0,2,2,1,1,1,...,1.0,1.0,NaN,1.00,0.571429,0.000000,10037.000000,7288.500000,9092.280000,NaN
26,125,0,1,0,2,2,0,4,3,0,...,NaN,1.0,1.000000,1.00,0.285714,0.142857,NaN,4252.000000,NaN,3921.500000
27,121,1,0,1,3,0,1,1,3,1,...,1.0,1.0,1.000000,1.00,0.714286,0.000000,11157.000000,NaN,5514.000000,13870.666667
28,143,2,1,2,2,0,1,0,2,2,...,1.0,NaN,1.000000,1.00,0.428571,0.571429,15914.500000,8246.000000,12305.000000,12516.500000
29,141,3,6,1,1,1,0,1,3,3,...,1.0,1.0,1.000000,1.00,1.142857,0.428571,14691.333333,14576.833333,13811.000000,7355.000000
30,145,0,2,1,1,1,1,1,0,0,...,1.0,1.0,1.000000,NaN,0.285714,0.285714,NaN,22107.000000,6230.000000,18516.000000
31,109,0,1,1,3,1,3,0,1,0,...,1.0,NaN,1.000000,1.00,0.571429,0.142857,NaN,4495.000000,11466.000000,7889.333333
32,105,1,0,0,3,1,0,0,3,1,...,NaN,NaN,1.000000,1.00,0.428571,0.142857,15854.000000,NaN,NaN,8645.666667
33,110,1,0,1,3,2,1,0,2,1,...,1.0,NaN,1.000000,1.00,0.571429,0.142857,7158.000000,NaN,6062.000000,8544.000000
34,150,1,2,1,2,3,3,1,2,1,...,1.0,1.0,1.000000,1.00,0.714286,0.142857,8131.000000,11367.000000,12291.000000,14055.000000
35,106,1,0,0,2,1,1,0,2,1,...,NaN,NaN,1.000000,1.00,0.285714,0.142857,23069.000000,NaN,NaN,8927.500000
36,116,1,0,3,2,1,2,2,2,1,...,1.0,1.0,1.000000,1.00,0.714286,0.142857,10729.000000,NaN,17921.333333,12255.000000
37,147,0,1,3,2,0,0,2,4,0,...,1.0,1.0,1.000000,0.75,0.714286,0.142857,NaN,7656.000000,6209.666667,15866.500000
38,123,1,4,2,0,3,4,1,2,1,...,1.0,1.0,NaN,1.00,0.857143,0.142857,1344.000000,15663.750000,9240.500000,NaN
39,135,2,2,2,4,2,2,1,2,2,...,1.0,1.0,1.000000,1.00,1.285714,0.142857,11640.500000,10434.000000,16042.500000,11970.250000
40,119,0,1,3,4,3,1,1,2,0,...,1.0,1.0,1.000000,1.00,0.714286,0.428571,NaN,10630.000000,13337.666667,8489.500000
41,131,3,3,2,1,2,2,3,0,3,...,1.0,1.0,1.000000,NaN,0.571429,0.714286,5888.093333,16244.333333,11772.000000,14009.000000
42,149,0,1,1,1,1,2,1,1,0,...,1.0,1.0,1.000000,1.00,0.142857,0.285714,NaN,11107.000000,19864.000000,7852.000000
43,118,1,1,0,5,1,2,0,3,1,...,NaN,NaN,1.000000,1.00,0.714286,0.285714,16082.000000,20148.000000,NaN,19447.856000
44,124,1,1,0,2,2,2,2,1,1,...,NaN,1.0,1.000000,1.00,0.428571,0.142857,21283.000000,14584.000000,NaN,13686.500000
45,144,0,5,2,2,0,0,0,2,0,...,1.0,NaN,1.000000,1.00,0.714286,0.571429,NaN,14210.200000,18696.000000,20491.000000
46,138,2,0,2,3,3,2,0,1,2,...,1.0,NaN,1.000000,1.00,0.142857,0.857143,7417.500000,NaN,12104.140000,11530.666667
47,104,0,1,2,0,2,3,3,4,0,...,1.0,1.0,NaN,1.00,0.428571,0.000000,NaN,6114.000000,1744.000000,NaN
48,134,3,2,3,4,1,1,1,3,3,...,1.0,1.0,1.000000,1.00,1.285714,0.428571,15493.666667,12144.500000,17664.666667,3571.000000